<P>Enter your secret message</P>

<form action="" method="POST">
  <p><label name="secret_message">Secret Message</label></p>
  <p><textarea name="secret_message"></textarea></p>
  <p><input type="submit" value="Submit"></p>
</form>