<form action="share" method="POST">
  <p><label name="password">Enter this secret's password:</label></p>
  <p><input type="password" name="password"></input></p>
  <p><input type="hidden" name="slug" value="<%= slug %>" /></p>
  <p><input type="submit" value="Submit"></p>
</form>